fastapi
uvicorn[standard]
python-dotenv
pydantic
pywinauto
google-genai
pytest
edge-tts
pyautogui
pyperclip
psutil
requests
pillow
opencv-python
pywin32
pyttsx3
pygame
numpy
sounddevice
soundfile
SpeechRecognition
pyaudio
selenium
webdriver-manager
uiautomation
pytesseract